# Local stuff and temporary
/composer
/sami
/docker-compose
/tmp
/build
/tests/cache

# composer.lock
composer.lock

# phpunit
phpunit.xml

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.bkp
*.bak
*~
.~lock.*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# Others
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
yarn-error.log
