# Locally installed binaries
/composer
/phpdoc
/circleci
/docker-compose
/sami
/tmp
/tests/cache
*.phar

# Files generated locally
/build/
/docs/build/
/docs/cache/
/docs/_build/
/docs/_cache/

# .env file for docker-compose
/.env

# composer.lock
composer.lock

# phpunit (we only commit phpunit.xml.dist)
/phpunit.xml

# phpunit temporary files
.phpunit.result.cache

# phpdoc (we only commit phpdoc.xml.dist)
/phpdoc.xml

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.swp
*.bkp
*.bak
*~
.~lock.*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Pipenv, setuptools, etc.
/pipenv
.venv/
/dist/
*.egg-info
*.tox
*.deb
/MANIFEST

# Lumen generated
/storage/logs/

# Others
/vendor
/.idea
/.vagrant
/core
Homestead.json
Homestead.yaml
yarn-error.log
